body{
    background-color: lightsalmon;
}
span{
    margin-right: 1vw;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.61);
    border-radius: 1rem;
    background-color: rgb(155, 233, 233);
    width: 10vw;
    height: 5vw;
}
h1{
    font-size: 10vw;
    text-decoration: underline;
}
p, h1{
    font-family: "Protest Strike";
}
#pokemon-detail-container{
    border: 2px solid black;
    width: 50vw;
    margin: 5vh auto 0 auto;
    text-align: center;
    border-radius: 1rem;
    height: 500px;
}