.pokemon {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 1rem;
    min-width: 8vw;
    max-width: 10vw;

}
h1{
    text-align: center;
}
h2{
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: #F95454;
}
.electric{
    background-color: aquamarine;
}
.poison{
    background-color: rgb(206, 81, 206);
}
.grass{
    background-color: greenyellow;
}
.normal{
    background-color: #ee2a2a;
}
.bug{
    background-color: #328b41;
}
.fire{
    background-color: #ff7505;
}
.water{
    background-color: rgb(69, 200, 223);
}